.item-1 {
    background-color: lightpink;
}
.item-2 {
    background-color: lightgray;
}
.item-3 {
    background-color: lightcyan;
}
.item-4 {
    background-color: lightslategray;
}
.item-5 {
    background-color: lightcoral;
}
.item-6 {
    background-color: linen;
}

.container {
    display: grid;
    grid-template-columns: 200px 100px 300px;
    grid-template-rows:  100px 200px;
}